.lagu{
     width: 100%;
     height: 150px;
     margin-top: 20px;
    background-color: aqua;

}

.left{
    margin-right: 106px;
}

.image{
    width: 250px;
    height: 200px;
}

h5{
    color: #A1A4B2;
}

