/* by fidela nathania*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.top-center {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.mid-center {
    text-align: left;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered {
    text-align: left;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-center {
    text-align: left;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-select {
    border: none;
    border-radius: 20px;
    background-color: #f5dfd3;
    color: #606060;
    width: 700px;
}

.form-control {
    border: none;
    border-radius: 20px;
    width: 340px;
    background-color: #f5dfd3;
    color: #606060;
}

label {
    padding-left: 12px;
}

.btn {
    background-color: #a4a3ff;
    width: 700px;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

form {
    width: 800px;
    height: 300px;
    padding-right: 50px;
    padding-left: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 3px 3px #c4c4c47b;
    background-color: white;
    font-size: small;
}