/* by Hasna Dhiya Nafitra */

.bg {
    background-image: url("../../img/meditate-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-tabs {
    border-bottom: none;
}

.meditation-btn-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.meditation-btn {
    background-color: #a0a3b1;
    border-radius: 15px;
    border: none;
    color: white;
    transition-duration: 0.2s;
}

.meditation-btn:hover {
    background-color: #8e97fd;
    color: white;
}

.meditation-btn:focus {
    background-color: #8e97fd;
    color: white;
    box-shadow: none;
}

.nav-tabs .nav-link {
    background-color: #a0a3b1;
    border-radius: 15px;
    border: none;
    color: white;
    transition-duration: 0.2s;
}
.nav-link.active {
    background-color: #8e97fd !important;
    color: white !important;
    box-shadow: none;
    border-radius: 15px;
}

.meditate-article0 {
    background-image: url("../../img/meditate\ 0.png");
    background-repeat: no-repeat;
    height: 365px;
    max-width: 374px;
    color: #3f414e;
}

.btn {
    transition: none;
}
.btn:focus {
    box-shadow: none;
}

#meditate-tab-1 .play-btn {
    margin-left: 125px;
    margin-top: 60px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#meditate-tab-1 .play-btn:focus {
    border: none;
}

#meditate-tab-1 .fa-circle-play {
    transition: all 300ms ease;
}

#meditate-tab-1  .fa-circle-play:hover {
    transform: scale(1.125);
}

#meditate-tab-2 .play-btn {
    margin-left: 700px;
    margin-top: 5 px;
    width: 80px;
    height: 80px;
}

#meditate-tab-2 .fa-play-circle {
    font-size: 50px;
    transition: all 300ms ease !important;
    margin-left: 5px;
}

#meditate-tab-2 .fa-play-circle:hover {
    transform: scale(1.125) !important;
}

.meditate-article1 {
    background-image: url("../../img/meditate\ 1.png");
    background-repeat: no-repeat;
    height: 165px;
    max-width: 449px;
    color: white;
}

.meditate-article2 {
    background-image: url("../../img/meditate\ 2.png");
    /* background-repeat:no-repeat; */
    height: 165px;
    max-width: 449px;
    color: white;
    margin-top: 30px;
}

.meditate-article3 {
    background-image: url("../../img/meditate\ 3.png");
    background-repeat: no-repeat;
    height: 165px;
    max-width: 232px;
    color: white;
}

.meditate-article4 {
    background-image: url("../../img/meditate\ 4.png");
    background-repeat: no-repeat;
    height: 165px;
    max-width: 232px;
    color: white;
    margin-top: 30px;
}

.med-tab {
    padding: 30px;
}

.next-btn {
    background-color: #a4a3ff;
    width: 700px;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.next-btn:hover {
    color: black !important;
}

.next-btn:focus {
    color: black !important;
}

.lagu {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    background-image: url("../../img/bg-music-landing.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}
