/* by Hasna Dhiya Nafitra */
.bg {
    background-image: url("../../img/all-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
}

.btn-psikolog:focus {
    box-shadow: 0 0 40px rgb(139, 139, 139);
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}

.btn-psikolog {
    text-align: left;
}

.box-name{
    border-radius: 0 10px 10px 0;

}

.psy-img {
    border-radius: 10px 0 0 10px;
    width: 100px;
}

.next-btn {
    background-color: #a4a3ff;
    width: 700px;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.next-btn:hover {
    color: black !important;
}

.next-btn:focus {
    color: black !important;
    box-shadow: none;
}

.next-btn .active {
    box-shadow: none;
    color: black !important;
}
