//Created by Muhammad Ridho Waradana 5026201084
.nav-link {
    color: #495057;
}

.bg {
    background-image: url("../../img/profile.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-tabs .nav-link.active {
    color: #0d6efd;
}

.profile-hero {
    position: relative;
}

.font-white {
    color: #fff;
}

.profile-picture {
    position: absolute;
    top: 6em;
    right: 39vw;
    width: 250px;
}

.user-picture {
    width: 150px;
}

.profile-description {
    position: absolute;
    top: 20em;
}

.show {
    width: 100%;
}

.list-group {
    width: 100%;
}

.light-grey {
    color: #afa5d9;
}

.completed-course {
    background-image: url("../../img/completed-course-placeholder-bg.png");
    background-repeat: no-repeat;
    height: 125px;
    max-width: 220px;
}