/* Created by Muhammad Ridho Waradana 5026201084 */
.nav-link {
    color: #495057;
}

.bg {
    background-image: url("../../img/profile.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-tabs .nav-link.active {
    color: #0d6efd;
}

.profile-hero {
    position: relative;
}

.font-white {
    color: #fff;
}

.profile-picture {
    position: absolute;
    top: 4em;
    right: 35vw;
    width: 300px;
}

@media (max-width: 768px) {
    .profile-picture {
        top: 2em;
        right: 25vw;
        width: 300px;
    }
    .user-picture {
        height: 100px;
        width: 100px !important;
    }
}
@media (max-width: 376px) {
    .profile-picture {
        top: 0.25em;
        right: 0.5vw;
    }
    .user-picture {
        height: 25px;
        width: 25px !important;
    }
}

.user-picture {
    width: 150px;
}

.profile-description {
    position: absolute;
    top: 20em;
}

.show {
    width: 100%;
}

.list-group {
    width: 100%;
}

.light-grey {
    color: #afa5d9;
}

.completed-course {
    background-image: url("../../img/completed-course-placeholder-bg.png");
    background-repeat: no-repeat;
    height: 125px;
    max-width: 220px;
}
